.profile-pic{
    width: 25%;
    height: 25%;
}

.project-link{
    font-size: 22px;
    color: white;
    font-weight: 800;
}

.resume{
    text-decoration: underline;
    color: white;
}

.resume:hover{
    color: #D33F52;
}

.col-md-8 p {
    color: white;
    font-size: 18px;
}

p{
    color: white;
}
